input[name="pictures"],
input[name="makeTitle"]
{
    display: none;
}

/*#reset:not(checked) ~ .titlePicture*/
/*{*/
/*margin-top: 10px;*/
/*margin-bottom: 10px;*/
/*height: 500px;*/
/*object-fit: cover;*/
/*}*/

/*#reset:not(checked) ~ .resetTitle*/
/*{*/
/*display: none;*/
/*}*/

/*label.resetTitle*/
/*{*/
/*height: 40px;*/
/*text-align: center;*/
/*}*/

/*#reset:checked ~ .titlePicture,*/
/*#reset:checked ~ .resetTitle*/
/*{*/
/*display: none;*/
/*}*/

/*.resetTitle*/
/*{*/
/*display: none;*/
/*}*/

/*.titlePicture .picture*/
/*{*/
/*height: 500px;*/
/*position: relative;*/
/*top: 0;*/
/*bottom: 0;*/
/*left:0;*/
/*right:0;*/
/*margin: auto;*/
/*}*/

/*label.resetTitle*/
/*{*/
/*display: block;*/
/*}*/

.picContainer
{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
}

.picContainer:hover
{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .6);
}

.picContainer .smallPic
{
    height: 100%;
    width: 100%;
}

.picContainer label .picture
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.picFull
{
    display: none;
    text-align: center;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.picFull .picture
{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
}

.cross
{
    position: absolute;
    display: block;
    right: 1%;
    top: 1%;
    height: 40px;
    width: 40px;
}

.cross img
{
    height: 100%;
}

.whiteback
{
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 960px;
    width: 90%;
    max-height: 90%;
    border: 3px solid #2b2b2b;
    border-radius: 10px;
    background-color: #fff;
    z-index: -10;
}

.loading
{
    max-height: 10%;
    max-width: 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
}


.checkPicture:checked ~ .picFull
{
    display: block;
}



