@font-face
{
    font-family: menuTitleFont;
    src: url(fonts/amplify.ttf);
}
@font-face
{
    font-family: footerFont;
    src: url(fonts/katherine_plus.ttf);
}

body, main, footer, section, article {
    display: block;
}

header
{
    display: flex;
    background: url('https://ict.swisscom.ch/wp-content/uploads/2015/09/tokyo.jpg') 30% 30% no-repeat;
    background-size: 130%;
    height: 200px;
    border-radius: 20px;
}
header
{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
}
.menuItem
{
    height: 80px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 2.5em;
    font-family: menuTitleFont, Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0 0 10px #000;
}
.menuItem:hover
{
    color:#fff;
    background-color:transparent;
    text-shadow:#fff 0 0 5px;
}

html,
body
{
    height: 100%;
}

.wrap
{
    min-height: 100%;
}
.main
{
    overflow:auto;
    padding-bottom: 60px;
}
footer
{
    position: relative;
    margin-top: -60px;
    height: 60px;
    clear:both;
}
footer .mylink
{
    display: inline-block;
    text-align: right;
}
.contactLink
{
    height: 40px;
}

footer .visits
{
    text-align: center;
    font-family: footerFont, Arial, sans-serif;
    font-size: 1.6em;
    margin: 0;
}
