@font-face
{
    font-family: menuTitleFont;
    src: url(fonts/title.ttf);
}

footer
{
    display: flex;
    justify-content: space-between;
}

.contactLink
{
    max-height: 35px;
    margin-bottom: 10px;
}

body
{
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

header {
    display: flex;
    background: url('https://ict.swisscom.ch/wp-content/uploads/2015/09/tokyo.jpg') 30% 30% no-repeat;
    background-size: 130%;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    0 0 20px 0 rgba(0, 0, 0, 0.6);
    box-shadow:         0 0 20px 0 rgba(0, 0, 0, 0.6);

}
.menuItem{
    border: 1px solid transparent;
    height: 80px;
    width: 33%;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    font-family: menuTitleFont, Arial, serif;
}
.menuItem:hover{
    border: 1px solid transparent;
    color:#fff;
    background-color:transparent;
    text-shadow:#fff 0 0 5px;
}
.menuContainer{
    display: flex;
    padding-top: 120px;
    width: 100%;
    flex-direction: row;
}
