@font-face
{
    font-family: menuTitleFont;
    src: url(fonts/title.ttf);
}
body, main, footer, section, article {
    display: block;
}
#myPhoto {
    width: 30%;
    float: left;
    height: 100%;
}
#myPhoto img
{
    width: 100%;
}
#myInfo {
    margin-left: 10px;
    width: 59%;
    float: left;
    font-size: larger;
}
