@font-face
{
    font-family: h1Font;
    src: url(fonts/subset-GoodVibesPro.woff) format('woff');
}

h1
{
    font-family: h1Font, footerFont, Arial, sans-serif;
    font-size: 30px;
}

.myPhoto
{
    height: 100%;
}
.myPhoto img
{
    width: 100%;
}
.myInfo
{
    font-size: larger;
}
